*{
  margin: 0;
  padding: 0;
}


.header{
  background-color: black;
  color: #fff;
  padding: 5px;
  text-align: left;
}

.Navv{
  background-color:slategrey;
  padding: 10px 0;
  color: #fff;
  padding-left: 15px;
}

.Navv input{
padding: 5px;
width: 70%;
margin-left: 5px;
border-radius: 10px;
border:1px solid gray;
}

nav a{
  margin-right: 15px;
  color: #fff;
  padding: 5px;
}

nav a:hover{
  background-color: black;
  border-radius: 10px;
}

nav{
display: flex;
 margin: 10px 0 ;
}

.onepost, .messing, .home, .newpost, .about{
    /* background-color: bisque; */
  min-height: 65vh;
  padding:0 15px;
 padding-top: 20px;
}

.addForm{
  text-align: center;
  margin-top: 20px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;

}

.formitem{
  margin-bottom:15px ;
}

.btn{
 width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-left: 5%;
}

.btn:hover{
  background-color: black;
  color: #fff;
}

.formitem input,textarea{
  width: 70%; 
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

textarea{
  height: 20vh;
  margin-left: 5px;
}

.body{
  display: flex;
  justify-content: center;
}

.onepost p{
margin-top: 5px;
}
.footer{
  background-color:slategrey;
  height: 8vh;
  text-align: center;
}
.returnhome{
  font-size: small;
  color: gray;
  text-decoration: underline;
}
.footer p{
  padding: 15px;
  font-size: small;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  margin-top: 10px;
  border-bottom: .5px solid gray;
  padding-bottom: 5px;
}
li a{
  color: black;
}
li p{
  color: gray;
}

.btns{
  padding: 5px;
  margin-right: 5px ;
  font-size: 10px;
  background-color: red;
 color: #fff;
 border-radius: 5px;
 border: none;
}

.btns:hover{
  background-color: black;
}

.edits{
  background-color:slategrey;
}